

<div class=" feed-container">

    <div class="ui feed">  

    
   
        <div *ngFor="let review of reviewList" class="event">
          <div class="label">
            <img src="../../../assets/image/business-suit.jpg">
          </div>
          <div class="content">
            <div class="summary">
              <a [routerLink]=" ['/users', review.user._id] ">{{review.user.first_name}} {{review.user.last_name}}</a> posted a review on<a [routerLink]=" ['/companies', review.company._id] " >  {{review.company.company_name}}'s page</a>
              <div class="date">
                {{review.date}}
              </div>
            </div>
            <div class="extra text">
              {{review.content}}
            </div>
            <div class="meta">
              <a class="like">
                <i class="like icon"></i> 5 Likes
              </a>
            </div>
          </div>
        </div>
       
         
          
          
        
    
      </div>

</div>
