

<div class=" feed-container">

    <div class="ui feed">  

    
   
        <div class="event" *ngFor=" let review of reviewList">
          <div class="label medium">
            <img src="../../../assets/image/business-suit.jpg">
          </div>
          <div class="content">
            <div class="summary">
              <a [routerLink]="['/users', review.user._id]" class="author">{{review.user.first_name}} {{review.user.last_name}}</a>
            </div>
            <div class="extra text">
              {{review.content}}
            </div>
          </div>
        </div>
       
          
          
        
    
      </div>

</div>
