
<div class="profile-container">
    
    <div class="image"></div>

    <p><span class="ui big red text">{{user.first_name}} {{user.last_name}}</span></p>

        <div class="ui mini statistics">
            <div class="statistic">
              <div class="value">
                {{user.reviews.length}}
              </div>
              <div class="label">
              Reviews
              </div>
            </div>
           
    </div>

    <p><span class="ui medium text">{{user.position}}</span></p>
     <p><span class="ui medium text"> {{user.summary}} </span></p>
    

        
</div>