.navbar{

    height: 60px;
}

.wrapper{

    background: url("../../assets/image/business-suit.jpg");
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    padding-top: 60px;
    filter: grayscale(0.8);;
}

.search-box{

    display: flex;
    justify-content: center;;
    align-items: center;
    .search{

        margin-right: 10px;;
    }

    #drop{

       margin-right: 10px;
    }

    button{
        margin-left: 10px;
    }

}