

    <div class="ui top fixed menu navbar">
        <div class="header huge item ">
            GlassdoorSMD
        </div>
        <a routerLink="/about" class="item">About us</a>
        <a routerLink="/testimonials" class="item">Testimonials</a>
        <div class="right menu">
            <a *ngIf="!profile" (click)="displaySigninModal()" class="item">Sign-in</a>
            <a *ngIf="!profile" routerLink="/register" class="item">Register</a>

            <a *ngIf="profile && profile.type=== 'company'" [routerLink]="['/companies', profile.account_typeId]" class="item">My Company</a>
            <a *ngIf="profile && profile.type=== 'user'" [routerLink]="['/companies', profile.account_typeId]" class="item">My Company</a>
            <a *ngIf="profile" (click)="logout()" routerLink="/" class="item">Logout </a>
            
        </div>   

        <app-signin-modal > </app-signin-modal>
        
      </div>