<div  id="signinModal" class="ui mini modal">
    <i class="close icon"></i>
    <div class="header">
      Signin
    </div>
    <form class="ui form" (ngSubmit)="submit(form)" #form="ngForm" ngNativeValidate>
      <div class="field">
        <label>Username</label>
        <input type="text" name="username" placeholder="Username" Email ngModel required> 
      </div>
      <div class="field">
        <label >Password</label>
        <input type="password" name="password" placeholder="Password" ngModel required>
      </div>
      
      <button class="ui button" type="submit">Submit</button>
      <br>

      <a href="">Forgot password</a>
    </form>
  </div>
  