.wrapper{

    background-image: url("../../assets/image/business-suit.jpg");
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    padding-top: 60px;
    filter: grayscale(0.8);;
}