
<app-navbar></app-navbar>

<div class="wrapper">

    <div class="ui vertical menu">
        <div class="item">
          <div class="header">User</div>
          <div class="menu">
            <a [routerLink]="['/users', user._id]" class="item">View profil</a>
            <a *ngIf="profile.account_typeId=== user._id" [routerLink]="['/users', user._id, 'edit']" class="item">Edit profil</a>            
          </div>
        </div>
        <div class="item">
          <div class="header">Reviews</div>
          <div class="menu">
            <a [routerLink]="['/users', user._id, 'reviews']" class="item">View all reviews</a>
          </div>
        </div>
        <div *ngIf="profile.account_typeId=== user._id" class="item">
          <div class="header">Account</div>
          <div class="menu">
            <a  [routerLink]="['/users', user._id, 'account']" class="item">View account</a>
          </div>
        </div>
      </div>

      <div class="ui grid right-content">
        
        <div class="tab-content fourteen wide">

            <router-outlet></router-outlet>  

        </div>              

         
      </div> 
</div>


<app-footer></app-footer>