

    <div class="ui container ">
       
        <div class="register">
            <h1 class="header massive"> Register your company</h1>
            <form class="ui form">
                  
              
                    <div class="field">
                    <label>First Name</label>
                      <input type="text" name="firstname" placeholder="First Name" required>
                    </div>
                    <div class="field">
                        <label>Last Name</label>
                      <input type="text" name="lastname" placeholder="lastname" required>
                    </div>

                    <div class="field">
                        <label>Role</label>
                        <input type="text" name="position" placeholder="role">    
                    </div> 

                    <div class="field">
                        <label>Summary</label>
                        <textarea name="summary" placeholder="Summary"required> </textarea>    
                    </div> 
                    
               <div>
                <button routerLink="/" class="ui button medium left"> Cancel </button>
                <button class="ui button right" tabindex="0">Continue</button>
               </div>
                
              </form>
    
    
             
        </div>
        
    </div>

