
    <div id="myTab" class="ui tab active " data-tab="bio"  >


        <h1 class="ui massive header"> {{company.company_name}} </h1>
        <div class="ui massive yellow rating" data-icon="star"></div>
        <div class="ui mini statistics">
            <div class="statistic">
              <div class="value">
               {{company.jobs.length}}
              </div>
              <div class="label">
                Jobs
              </div>
            </div>
            <div class="statistic">
              <div class="value">
                {{company.reviews.length}}
              </div>
              <div class="label">
               Reviews
              </div>
            </div>
          </div>
      </div>
      
      <div class="company-data" >
          
        <h1 class="ui header large h1">Company's Info</h1>
          <div class=" table-data  ">

            

               
                    <td  id="td" class="title"> CEO </td>
                    <td id="td" >{{company.ceo}}</td>
             
              
                    <td  id="td" class="title">Headquarters</td>
                    <td id="td" >{{company.headquarters}}</td>
               
           
                    <td id="td"  class="title">Size</td>
                    <td id="td" >{{company.size}}</td>
              
               
                    <td id="td"  class="title">Founded</td>
                    <td id="td" >{{company.founded}}</td>
                
                    <td  id="td" class="title">Sector</td>
                    <td id="td" >{{company.sector}}</td>
               
                    <td id="td"  class="title">Revenue</td>
                    <td id="td" >{{company.revenue}}</td>
                        
               


           

          </div>

       

       <div>
           <h1 class="ui header large">Description</h1>
           <p>{{company.description}}</p>
       </div>
        

      </div>

      <div class="reviews" >
          <h1 class="ui header large ">Reviews</h1>
        <div class="ui comments" *ngFor="let review of company.reviews">
            <div class="comment">
              <a class="avatar">
                <img src="../../../assets/image/business-suit.jpg">
              </a>
              <div class="content">
                <a [routerLink]="['/users', review.user._id]" class="author">{{review.user.first_name}} {{review.user.last_name}}</a>
              
                <div class="text">
                  <p>{{review.content}} </p>
                  
                </div>
                <div class="actions">
            
                </div>
              </div>
            </div>
            

      </div>

      <form *ngIf="profile.type!=='company'" class="ui reply form" (ngSubmit)="onSubmit(form)" #form="ngForm" ngNativeValidate >
        <input type="hidden" name="company" [ngModel]="company._id">
        <input type="hidden" name="user" [ngModel]="profile.account_typeId">

        <div class="field">
          <textarea spellcheck="false" name="content" [ngModel]="comment" required></textarea>
        </div>
        
         <button class="ui button blue" type="submit"> Add a review</button> 
     
      </form>

      </div>
  
